<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 { 
        font-style: italic; 
        font-size: 55px; 
        color:#09438b; 
        text-align: center; 
        margin: 10px; 
    }
    form {
        margin: 20px auto;
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }
</style>
